body{
    background-color:#272727;
    color: #b7b7b7;
}

.jumbotron{
    background-color:#000000;
    margin-top:2%;
}

.social-media{
    padding-left:2%;
}

img{
    max-width: 100%;
    height: auto;
}

.box-style{
    background-color:#000000;
    padding-top:auto;
    padding-right:5%;
    padding-bottom:auto;
    padding-left:5%;
}

.thumbnail{
    border:none;
    padding-top:5%;
}

a {
    color: #a7b9ca;
}

a:focus, a:hover {
    color:#4e7496;
}
