---
layout: blog
title: Blog
---
        {% for post in paginator.posts %}
            <div class="blog-box-style blog-box-round-style">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="a-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{post.content}}
            </div>
        {% endfor %}

    <div class="paginator">
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <em>{{ page }}</em>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}
    </div>
